html{
    height: 80%;
}

body{
    background-color: black;
    margin: 0;
    font-family: sans-serif;
    height: 100%;
}

    

.contenido1{
    width: 80%;
    font-family: sans-serif;
    color:black;
    background-color: skyblue;
    float: right;
    height: 50%;

   

}

.contenido2{
    width: 80%;
    font-family: sans-serif;
    color:black;
    background-color:yellow;
    float: right;
    height: 50%;

   

}

.contenido3{
    width: 80%;
    font-family: sans-serif;
    color:black;
    background-color:orange;
    float: right;
    height: 50%;

   

}

.contenido4{
    width: 80%;
    font-family: sans-serif;
    color:black;
    background-color:red;
    float: right;
    height: 50%;
   
    
    

   

}

.contenedor{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-content: center;

}

.nav-bg{
    background-color:black;
    margin:left;
    text-decoration: unset;
    width: 20%;
    height: 100%;
    display:block;
    float: left;
    
}

.nav-bg a{
    display: block;
    color:white;
    text-decoration:unset;
    margin-left: 10%;
    margin-top: 5%;
    text-decoration: none;
}
.nav-bg a:hover{
    color:purple;
}
